<div class="container col-md-6" >
    <br/>
    <h2>Welcome to home page!</h2><br/>
    <p>This is a project to show essential features from <a href="https://expressjs.com/" target="_blank">Express framework</a> and <a href="https://handlebarsjs.com" target="_blank">Handlebars</a>.
    <p>You are able to perform CRUD operations in a contact list: Create, Read, Update and Remove.</p>
    <p>Here, you are going to find:</p>
    <ul>
      <li>Node</li>
      <li>Express</li>
      <li>Handlebars</li>
      <li>Router</li>
      <li>Body Parser</li>
      <li>Bootstrap</li>
    </ul>
</div>
