<div class="d-flex col-12 justify-content-center">
  <div class="bg-light col-3 h-50 rounded mt-5 mb-5 border">
      <h3 class="mt-1">Log in</h3>
        <hr>
      <form method="POST" action="/accounts/login">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>  
        <button type="submit" class="btn btn-primary col-12 mb-2">Log in</button>
      </form>
      <hr>
      <div class="d-flex justify-content-center"><span class="mb-2"><a href="#">Forgot Password?</a></span></div>
  </div>
</div>