<div class="d-flex col-12 justify-content-center">
  <div class="col-5 h-50 rounded mt-5 mb-5 border alert alert-success">
      <h3 class="mt-1">Parabéns!</h3>
        <hr>
      <p> Sua senha foi alterada. <a href="/accounts/login">Faça o seu login agora.</a></p>
  </div>
</div>