    <div class="d-flex col-12 justify-content-center">
      <div class="col-5 h-50 rounded mt-5 mb-5 border alert alert-success">
          <h3 class="mt-1">Parabéns!</h3>
            <hr>
          <p> Enviamos um e-mail com um link para você alterar sua senha.</p>
          <p>Link acesso: <a href="/accounts/password_reset/confirmation/{{id}}/{{token}}">alterar a senha</a></p>
      </div>
    </div>