<div class="d-flex col-12 justify-content-center">
  <div class="bg-light col-3 h-50 rounded mt-5 mb-5 border">
      <h3 class="mt-1">Reset Password</h3>
        <hr>
         {{#if err}}
        <div class="alert alert-danger">{{err}}</div>
        {{/if}}

        {{#if err_pwd}}
        <div class="alert alert-danger">{{err_pwd}}</div>
        {{/if}}

        {{#unless err}}
      <form method="POST" action="/accounts/password_reset/confirmation/{{id}}/{{token}}">
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>  
        <div class="form-group">
          <label for="passwordConfirm">Confirm New Password</label>
          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
        </div>  
        <button type="submit" class="btn btn-primary col-12 mb-2">Confirm change</button>
      </form>
      {{/unless}}
  </div>
</div>